*{
    margin: 0;
    padding: 0;
}
.demo-main{
    .demo-container{
        /* navbar */
        .nav{
            background-color: navy;
            width: 100%;
            height: 100px;
            h1{
                color: rgb(244, 244, 48);
                font-size: 250%;
                padding-left: 850px;
                padding-top: 15px;
            }
            h5{
                color: white;
                padding-left: 850px;
            }
        }
         /* option */
         .options{
            display: flex;
            gap: 50px;
            padding-left: 20px;
            padding-top: 30px;
        }
        /* input payment */
        .mid{
            display: flex;
            gap: 500px;
            padding-left: 50px;
            .mid1{
                
                .mid11{
                border: 1px solid orangered;
                width: 800px;
                margin-top: 50px;
                padding-left: 10px;
                line-height: 50px;
                border-radius: 2px;
                    p{
                        font-weight: bolder;
                        font-size: 125%;
      
                        input{
                          padding-left: 30px;
                          border: transparent;
                        }
                        span{
                          font-size: 75%;
                          color: orangered;
                          padding-left: 460px;
                        }
                        
                      }
                      .li{
                          border: 1px solid orangered;
                          width: 80%;
                          margin-left: 30px;
                        }
                     

                }
                p{
                    margin-top: 30px;
                    font-weight: bolder;
                    font-size: 125%; 
                }
                span{
                    color: orangered;
                    padding-left: 700px;
                }
                .img{
                    img{
                        margin-top: 20px;
                     width: 60px;
                    }
                    
                }
                .card{
                    .cn{
                        border: 1px solid orangered;
                    width: 700px;
                    height: 30px;
                    margin-top: 10px;
                    
                    }
                    input{
                        margin-top: 10px;
                        border: 1px solid orangered;
                    width: 348px;
                    height: 30px;  
                    }
                
                }
                .yt{
                    .tec{
                        font-size: 15px;
                    }
                    .yt1{
                        display: flex;
                        align-items: center;
                        
                        img{
                            margin-top: 20px;
                            width: 20px;
                            height: 20px;
                        }
                        .para{
                            font-size: 15px; 
                        }

                    }
                    
                       
                    
                    
                }
                    .buss{
                        h4{
                            margin-top: 30px;
                        }
                        p{
                            color: gray;
                            font-size: 12px;
                        }
                        .bus{
                            margin-top: 20px;
                            border: 1px solid orangered;
                            width: 820px;
                            .bus1{
                                padding-left: 10px;
                               font-size: 20px;
                            }
                            .li2{
                                border: 1px solid orangered;
                                margin-left: 22px;
                                margin-top: 20px;
                                width: 85%;
                            }
                            p{
                                font-size: 15px;
                                padding-left: 10px;  
                            }
                           
                        }

                    }
                    .but{
                        margin-top: 20px;
                        display: flex;
                        align-items: center;
                        gap: 370px;
                        button{
                            margin-top: 20px;
                            background-color: orangered;
                            color: white;
                            width: 250px;
                            height: 25px;
                            border: none;
                        }
                        p{
                            color: orangered;
                            font-size: 100%;
                        }
                    }
                }

                /* side 2nd */
                .mid2{
                    .mid21{
                         display: flex;
                         align-items: center;
                    }
                    h2{
                        padding-left: 100px;
                    }
                    .li1{
                        border-top: 1px solid orangered;
                        width: 110%;
                    }
                    .imm{
                        margin-top: 20px;
                        display: flex;
                        gap: 20px;
                        padding-left: 30px;
                      
                        img{
                            width: 150px;
                        }
                        .list{
                            li{
                                line-height: 25px;
                                list-style: none;
                            
                            }
                            .qua{
                                margin-top: 50px;
                            }
    
                        }
                       
                        
                        .dot{
                            width: 20px;
                            height: 20px;
                        }
                    }
                    .pri{
                        margin-top: 20px;
                        padding-left: 350px;
                        font-weight: bolder;
                    }
                    .di{
                        padding-left: 80px;
                        margin-top: 20px;
                        display: flex;
                        gap: 60px;
                        li{
                            list-style: none;
                            line-height: 30px;
                        }
                    }
                    .end{
                        display: flex;
                        gap: 30px;
                        p{
                            margin-top: 10px;
                            font-weight: bolder;
                            padding-left: 90px;
                        }
                    }
                    .buyer{
                        .buy1{
                            display: flex;
                            align-items: center;
                            margin-top: 30px;
                            img{
                                width: 30px;
                            }
                         }
                         p{
                            margin-top: 8px;   
                            padding-left: 10px;
                        }
                    }
                    .help{
                        .help1{
                            display: flex;
                            align-items: center;
                            gap: 2px;
                            margin-top: 30px;
                            img{
                                width: 30px;
                            }
                         }
                         p{
                            margin-top: 8px;   
                            padding-left: 10px;
                        }
                    }
                   
                }
               
               
            }
            /* Footer */
        .last{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 70px;
            background-color: navy;
            width: 100%;
            height: 120px;
            .la1{
                display: flex;
                gap: 25px;
                justify-content: center;
                color: white;
                p{
                    margin-top: 20px;
                }
            }
            .lf{
                margin-top: 20px;
                border-top: 1px solid grey;
                width: 30%;
                padding-left: 100px;
            }
            p{
                color: white;
                margin-top: 20px;
            }
        }
        }
    }

